.btn {
    font-family: $font-medium;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $button-size;
    padding: $button-padding;
    min-width: 120px;
    position: relative;
    border-radius: 4px;
    height: $button-height;
    &:focus {
        box-shadow: none !important;
    }
    &.btn-link {
        font-family: $font_regular;
        text-decoration: none;
        color: $secondary;
        text-transform: initial;
        min-width: 0;
        &:hover {
            text-decoration: underline;
        }
    }
    i {
        @include font-size(0.5);
        margin-right: 4px;
    }
}
