label {
    font-size: $label-font-size;
    font-family: $font-medium;
    color: #7f8fa4;
    text-transform: uppercase;
}

.form-control {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
        0px 1px 3px rgba(50, 50, 93, 0.1);
    border-radius: 5px;
    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08),
            0px 4px 6px rgba(50, 50, 93, 0.11);
        border-color: transparent;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search-input {
    position: relative;

    .form-control {
        padding-right: 35px;
    }

    i {
        position: absolute;
        right: 14px;
        top: 15px;
        font-size: 15px;
        color: $dark;
        pointer-events: none;
    }
}
