label {
    font-size: $label-font-size;
    font-family: $font-medium;
    color: #7f8fa4;
    text-transform: uppercase;
}

.form-control {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
        0px 1px 3px rgba(50, 50, 93, 0.1);
    border-radius: 5px;
    padding: $input-padding;
    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08),
            0px 4px 6px rgba(50, 50, 93, 0.11);
        border-color: transparent;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $input-color-placeholder !important;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $input-color-placeholder !important;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $input-color-placeholder !important;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $input-color-placeholder !important;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-file {
    label.custom-file-label {
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
            0px 1px 3px rgba(50, 50, 93, 0.1) !important;
        padding-top: 11px;
        color: $grey-medium;
        &:after {
            background-color: transparent !important;
            color: $primary;
            top: 5px;
            font-size: 0.875rem;
        }
    }
}

.search-input {
    position: relative;

    .form-control {
        padding-right: 35px;
    }

    i {
        position: absolute;
        right: 14px;
        top: 15px;
        font-size: 15px;
        color: $dark;
        pointer-events: none;
    }
}

// select box

select {
    padding: 12px 21px !important;
    background: #fff url(assets/images/arrow.svg) no-repeat right 0.75rem
        center/12px 10px !important;
}
