.table-section {
    border: 1px #d7d7e2 solid;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
.table {
    border-radius: 8px 8px 0 0;
    border: 0px #d7d7e2 solid;
    overflow: hidden;
    margin-bottom: 0;

    thead {
        border: 0px #d7d7e2 solid;
        background: $grey-dark;
        color: #7f8fa4;
        th {
            border-bottom: 0 !important;
            background-color: $grey-dark;
            color: #7f8fa4;
            padding: $table-row-padding-th;
            vertical-align: middle;
            font-size: 0.75rem;
            overflow: hidden;
            font-family: $font_medium;
            text-transform: uppercase;
            border-top: none !important;
            outline: 0;
            &[aria-sort] {
                position: relative;
                cursor: pointer;
                &:after {
                    content: '\E904';
                    font-family: 'icomoon';
                    padding-left: 8px;
                }
            }
        }
        &.hidden_header {
            display: none;
        }
    }

    tbody {
        background-color: $white;
        border: 0px #d7d7e2 solid;
        td {
            color: $grey-darkest;
            padding: $table-row-padding;
            vertical-align: middle;
            position: relative;
            a {
                color: $body-color;
                text-decoration: none;
                &:hover {
                    color: $secondary;
                }
                i {
                    vertical-align: middle;
                }
            }
            &.two-list {
                width: 200px;
            }
            &.single-list {
                width: 150px;
            }
            .indecation {
                position: absolute;
                top: -2px;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                left: 49%;
                a {
                    color: $grey-lite;
                    font-size: 1rem;
                    &:hover,
                    &:focus {
                        color: $secondary;
                    }
                }
            }
        }
        .action-review {
            display: inline-block;
            &.disabled {
                opacity: 0.5;
                pointer-events: none;
            }
            span {
                vertical-align: middle;
                a {
                    margin-right: 16px;
                    display: inline-block;
                    color: $grey-lite;
                    text-decoration: none;
                    &:last-child {
                        margin-right: 15px;
                    }
                    &:hover,
                    &:focus {
                        color: $secondary;
                    }

                    i {
                        margin-right: 8px;
                        position: relative;
                        top: -1px;
                        font-size: 1.1rem;
                        vertical-align: middle;
                        &.icon-done {
                            font-size: 1.2rem;
                            top: 3px;
                        }
                        &.icon-review {
                            font-size: 1.5rem;
                        }
                        &.icon-lock_outline {
                            font-size: 1.3rem;
                            top: 0;
                        }
                        &.icon-eye-view {
                            font-size: 0.9rem;
                            top: 0;
                        }
                    }
                    p {
                        display: inline-block;
                        margin: 0;
                        vertical-align: middle;
                    }
                }
            }
        }
        .action-column {
            margin-left: -10px;
            margin-right: -10px;
            a {
                padding: 0 10px;

                .icon-check {
                    font-size: 11px;
                }
            }
        }
        .rating-field {
            width: 200px;
        }
        tr {
            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4),
            &:nth-last-child(5) {
                .work-impact {
                    .custom-popover {
                        top: auto !important;
                        bottom: 28px !important;
                        &:before {
                            top: auto;
                            bottom: -12px !important;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .color-pallet {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    .min-20 {
        width: 20px;
    }
    .id-center {
        width: 170px;
        text-align: center;
    }
}

.bar-line {
    height: 34px;
    width: 5px;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    margin-right: 0px;
    top: 0;
    bottom: 0;
    left: 12px;
    margin: auto;
    &.high,
    &.High {
        background-color: $high;
    }
    &.medium,
    &.Medium {
        background-color: $medium;
    }
    &.low,
    &.Low {
        background-color: $low;
    }
}

.high,
.High {
    color: $high;
}
.medium,
.Medium {
    color: $medium;
}
.low,
.Low {
    color: $low;
}

.disable-color {
    opacity: 0.7;
    a {
        &:hover,
        &:focus {
            color: $grey-lite !important;
        }
    }
}

.table-pagination {
    padding-top: 15px;
    .record-shown {
        display: flex;
        align-items: center;
        select {
            min-width: 170px;
        }
        p {
            padding-left: 15px;
        }
    }
    .next-previous-pagination {
        text-align: right;
        button {
            margin-left: 15px;
            color: $secondary;
            background-color: #fff;
            border-color: #fff;
            box-shadow: 0px 2px 3px rgba(50, 50, 93, 0.11),
                0px 1px 3px rgba(0, 0, 0, 0.08);
        }
    }
}

.infoengine {
    .record-shown {
        .form-group,
        p {
            margin-bottom: 0px;
        }
    }
}
