.btn-group-toggle {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
        0px 1px 3px rgba(50, 50, 93, 0.1);
    .btn-outline-primary {
        height: $input-height;
        min-width: auto;
        font-family: $font_regular;
        text-transform: capitalize;
        padding: 9px 25px;
        outline: none;
        color: $grey-medium;
        border: 1px transparent solid;
        border-right: solid 1px transparent solid;
        box-shadow: none !important;
        background-color: $white;
        z-index: 9 !important;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 44px;
            top: -1px;
            right: 0;
            background: $grey-xlite;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        span {
            display: inline-block;
            padding-top: 2px;
            font-family: $font_regular;
            font-size: $font-size-base;
        }

        &.active {
            background-color: $grey-dark !important;
            color: $body-color !important;
            border: 1px transparent solid !important;
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02),
                0px 1px 3px rgba(50, 50, 93, 0.1) !important;
        }

        &:active {
            @extend .active;
        }
    }
}
