.btn-group-toggle {
    .btn-outline-primary {
        height: $input-height;
        min-width: auto;
        font-family: $font_regular;
        text-transform: capitalize;
        padding: 11px 25px;
        outline: none;
        color: $grey-medium;
        border: 1px $border-color solid;
        box-shadow: none !important;
        background-color: $white;

        span {
            display: inline-block;
            padding-top: 1px;
            font-family: $font_regular;
            @include font-size(0.75);
        }

        &.active {
            background-color: $grey-dark !important;
            color: $body-color !important;
            border: 1px $border-color solid !important;
        }

        &:active {
            @extend .active;
        }
    }
}
