.card {
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    margin: 0 auto;
    &.sm-radius {
        border-radius: 8px;
    }
    &.with-shadow {
        box-shadow: 0px 0px 14px rgba(50, 50, 93, 0.2);
    }

    &.card-auth {
        max-width: 435px;
        width: 90%;
    }
    &.card-builder {
        box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
        border-radius: 8px;
        padding: 22px;
    }
}
