$font_regular: 'ProximanovaRegular';
$font_bold: 'ProximanovaBold';
$font_medium: 'ProximanovaSemibold';
$font_light: 'ProximanovaLight';
$font_thin: 'ProximanovaRegular';
$font_ebold: 'ProximanovaBold';
$font_black: 'ProximanovaBold';
$other_font_bold: 'ProximanovaBold';

@mixin declare-font-face(
    $font-family,
    $font-filename,
    $font-weight: normal,
    $font-style: normal,
    $font-stretch: normal
) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('assets/fonts/#{$font-filename}.eot?#iefix')
                format('embedded-opentype'),
            url('assets/fonts/#{$font-filename}.woff') format('woff'),
            url('assets/fonts/#{$font-filename}.ttf') format('truetype'),
            url('assets/fonts/#{$font-filename}.woff') format('woff');
        font-style: normal;
        font-weight: 400;
        font-stretch: none;
    }
}

@include declare-font-face($font_regular, 'ProximanovaRegular');
@include declare-font-face($font_bold, 'ProximanovaBold');
@include declare-font-face($font_medium, 'ProximanovaSemibold');
@include declare-font-face($font_light, 'ProximanovaLight');
@include declare-font-face($other_font_bold, 'ProximanovaBold');

@font-face {
    font-family: 'icomoon';
    src: url('assets/fonts/icomoon/icomoon.eot?ae2tuz');
    src: url('assets/fonts/icomoon/icomoon.eot?ae2tuz#iefix')
            format('embedded-opentype'),
        url('assets/fonts/icomoon/icomoon.ttf?ae2tuz') format('truetype'),
        url('assets/fonts/icomoon/icomoon.woff?ae2tuz') format('woff'),
        url('assets/fonts/icomoon/icomoon.svg?ae2tuz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-low-risk:before {
    content: '\e903';
}
.icon-high-risk:before {
    content: '\e901';
}
.icon-caret-right:before {
    content: '\e902';
}
.icon-edit:before {
    content: '\e900';
}
.icon-medium-risk:before {
    content: '\e904';
}
.icon-trash:before {
    content: '\e905';
}
.icon-add-customer:before {
    content: '\e906';
}
.icon-blacklist:before {
    content: '\e907';
}
.icon-calendar:before {
    content: '\e908';
}
.icon-caret-down:before {
    content: '\e909';
}
.icon-caret-left:before {
    content: '\e90a';
}
.icon-change-password:before {
    content: '\e90b';
}
.icon-check:before {
    content: '\e90c';
}
.icon-cloud:before {
    content: '\e90d';
}
.icon-configurations:before {
    content: '\e90e';
}
.icon-customer-profil:before {
    content: '\e90f';
}
.icon-documentation:before {
    content: '\e910';
}
.icon-eforms:before {
    content: '\e911';
}
.icon-enforcement:before {
    content: '\e912';
}
.icon-export:before {
    content: '\e913';
}
.icon-eye-view:before {
    content: '\e914';
}
.icon-graph:before {
    content: '\e915';
}
.icon-id-card:before {
    content: '\e916';
}
.icon-loading:before {
    content: '\e917';
}
.icon-loading-spinner .path1:before {
    content: '\e918';
    color: rgb(143, 150, 161);
}
.icon-loading-spinner .path2:before {
    content: '\e919';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.7;
}
.icon-loading-spinner .path3:before {
    content: '\e91a';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.1;
}
.icon-loading-spinner .path4:before {
    content: '\e91b';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.4;
}
.icon-loading-spinner .path5:before {
    content: '\e91c';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.25;
}
.icon-loading-spinner .path6:before {
    content: '\e91d';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.85;
}
.icon-loading-spinner .path7:before {
    content: '\e91e';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.01;
}
.icon-loading-spinner .path8:before {
    content: '\e91f';
    margin-left: -1em;
    color: rgb(143, 150, 161);
    opacity: 0.55;
}
.icon-pep:before {
    content: '\e920';
}
.icon-person:before {
    content: '\e921';
}
.icon-plus:before {
    content: '\e922';
}
.icon-review:before {
    content: '\e923';
}
.icon-sanction:before {
    content: '\e924';
}
.icon-search:before {
    content: '\e925';
}
.icon-setting:before {
    content: '\e926';
}
.icon-sign-out:before {
    content: '\e927';
}
.icon-system-log:before {
    content: '\e928';
}
.icon-system-users:before {
    content: '\e929';
}
.icon-world:before {
    content: '\e92a';
}
.icon-wrong:before {
    content: '\e92b';
}
