$font_regular: 'ProximanovaRegular';
$font_bold: 'ProximanovaBold';
$font_medium: 'ProximanovaSemibold';
$font_light: 'ProximanovaLight';
$font_thin: 'ProximanovaLight';
$font_ebold: 'ProximanovaBold';
$font_black: 'ProximanovaBold';
$other_font_bold: 'ProximanovaBold';

@mixin declare-font-face(
    $font-family,
    $font-filename,
    $font-weight: normal,
    $font-style: normal,
    $font-stretch: normal
) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('assets/fonts/#{$font-filename}.eot?#iefix')
                format('embedded-opentype'),
            url('assets/fonts/#{$font-filename}.woff') format('woff'),
            url('assets/fonts/#{$font-filename}.ttf') format('truetype'),
            url('assets/fonts/#{$font-filename}.woff') format('woff');
        font-style: normal;
        font-weight: 400;
        font-stretch: none;
    }
}

@include declare-font-face($font_regular, 'ProximanovaRegular');
@include declare-font-face($font_bold, 'ProximanovaBold');
@include declare-font-face($font_medium, 'ProximanovaSemibold');
@include declare-font-face($font_light, 'ProximanovaLight');
@include declare-font-face($other_font_bold, 'ProximanovaBold');

@font-face {
    font-family: 'icomoon';
    src: url('assets/fonts/icomoon/icomoon.eot?ae2tuz');
    src: url('assets/fonts/icomoon/icomoon.eot?ae2tuz#iefix')
            format('embedded-opentype'),
        url('assets/fonts/icomoon/icomoon.ttf?ae2tuz') format('truetype'),
        url('assets/fonts/icomoon/icomoon.woff?ae2tuz') format('woff'),
        url('assets/fonts/icomoon/icomoon.svg?ae2tuz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
    content: '\e962';
}
.icon-move:before {
    content: '\e963';
}
.icon-record .path1:before {
    content: '\e95f';
    color: rgb(255, 255, 255);
}
.icon-record .path2:before {
    content: '\e960';
    margin-left: -1em;
    color: rgb(201, 31, 55);
}
.icon-record .path3:before {
    content: '\e961';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-dropdown-icon:before {
    content: '\e95e';
}
.icon-heading:before {
    content: '\e900';
}
.icon-radio:before {
    content: '\e901';
}
.icon-select-field:before {
    content: '\e902';
    color: #7f8fa4;
}
.icon-settings:before {
    content: '\e903';
}
.icon-table-sort:before {
    content: '\e904';
}
.icon-text-area:before {
    content: '\e905';
}
.icon-text-field:before {
    content: '\e906';
}
.icon-color-picker:before {
    content: '\e907';
    color: #7f8fa4;
}
.icon-checkbox:before {
    content: '\e908';
    color: #7f8fa4;
}
.icon-cross-with-circle:before {
    content: '\e92b';
}
.icon-tick-with-circle:before {
    content: '\e948';
}
.icon-documentation:before {
    content: '\e95a';
}
.icon-tomb:before {
    content: '\e92a';
}
.icon-check-circle:before {
    content: '\e92c';
}
.icon-add:before {
    content: '\e909';
}
.icon-add_circle:before {
    content: '\e90a';
}
.icon-clear:before {
    content: '\e90b';
}
.icon-close:before {
    content: '\e90b';
}
.icon-remove:before {
    content: '\e90c';
}
.icon-remove_circle:before {
    content: '\e90d';
}
.icon-do_not_disturb_on:before {
    content: '\e90d';
}
.icon-expand_less:before {
    content: '\e90e';
}
.icon-expand_more:before {
    content: '\e90f';
}
.icon-arrow_back_ios:before {
    content: '\e910';
}
.icon-arrow_forward_ios:before {
    content: '\e911';
}
.icon-error:before {
    content: '\e912';
}
.icon-error_outline:before {
    content: '\e913';
}
.icon-warning:before {
    content: '\e914';
}
.icon-report_problem:before {
    content: '\e914';
}
.icon-loop:before {
    content: '\e915';
}
.icon-sync:before {
    content: '\e915';
}
.icon-mic:before {
    content: '\e916';
}
.icon-mic_none:before {
    content: '\e917';
}
.icon-mic_off:before {
    content: '\e918';
}
.icon-replay:before {
    content: '\e919';
}
.icon-videocam:before {
    content: '\e91a';
}
.icon-videocam_off:before {
    content: '\e91b';
}
.icon-volume_down:before {
    content: '\e91c';
}
.icon-volume_mute:before {
    content: '\e91d';
}
.icon-volume_off:before {
    content: '\e91e';
}
.icon-volume_up:before {
    content: '\e91f';
}
.icon-chat:before {
    content: '\e920';
}
.icon-contact_phone:before {
    content: '\e921';
}
.icon-expand_less1:before {
    content: '\e922';
}
.icon-expand_more1:before {
    content: '\e923';
}
.icon-arrow_back_ios1:before {
    content: '\e924';
}
.icon-arrow_forward_ios1:before {
    content: '\e925';
}
.icon-star:before {
    content: '\e926';
}
.icon-grade:before {
    content: '\e926';
}
.icon-star_outline:before {
    content: '\e927';
}
.icon-account_balance:before {
    content: '\e928';
}
.icon-account_box:before {
    content: '\e929';
}
.icon-account_circle:before {
    content: '\e92d';
}
.icon-assignment_ind:before {
    content: '\e92e';
}
.icon-cached:before {
    content: '\e92f';
}
.icon-check_circle:before {
    content: '\e930';
}
.icon-done:before {
    content: '\e931';
}
.icon-lock_open:before {
    content: '\e932';
}
.icon-lock_outline:before {
    content: '\e933';
}
.icon-chevron-down:before {
    content: '\e934';
}
.icon-delete:before {
    content: '\e935';
}
.icon-insights:before {
    content: '\e936';
}
.icon-low-risk:before {
    content: '\e937';
}
.icon-high-risk:before {
    content: '\e938';
}
.icon-caret-right:before {
    content: '\e939';
}
.icon-edit:before {
    content: '\e93a';
}
.icon-medium-risk:before {
    content: '\e93b';
}
.icon-trash:before {
    content: '\e93c';
}
.icon-add-customer:before {
    content: '\e93d';
}
.icon-blacklist:before {
    content: '\e93e';
}
.icon-calendar:before {
    content: '\e93f';
}
.icon-caret-down:before {
    content: '\e940';
}
.icon-caret-left:before {
    content: '\e941';
}
.icon-change-password:before {
    content: '\e942';
}
.icon-check:before {
    content: '\e943';
}
.icon-cloud:before {
    content: '\e944';
}
.icon-configurations:before {
    content: '\e945';
}
.icon-customer-profil:before {
    content: '\e946';
}
.icon-documentation1:before {
    content: '\e947';
}
.icon-eforms:before {
    content: '\e949';
}
.icon-enforcement:before {
    content: '\e94a';
}
.icon-export:before {
    content: '\e94b';
}
.icon-eye-view:before {
    content: '\e94c';
}
.icon-graph:before {
    content: '\e94d';
}
.icon-id-card:before {
    content: '\e94e';
}
.icon-loading:before {
    content: '\e94f';
}
.icon-loading-spinner:before {
    content: '\e950';
}
.icon-person:before {
    content: '\e951';
}
.icon-plus:before {
    content: '\e952';
}
.icon-review:before {
    content: '\e953';
}
.icon-sanction:before {
    content: '\e954';
}
.icon-search:before {
    content: '\e955';
}
.icon-setting:before {
    content: '\e956';
}
.icon-sign-out:before {
    content: '\e957';
}
.icon-system-log:before {
    content: '\e958';
}
.icon-system-users:before {
    content: '\e959';
}
.icon-world:before {
    content: '\e95b';
}
.icon-wrong:before {
    content: '\e95c';
}
.icon-minus:before {
    content: '\e95d';
}
