body {
    &.auth-body {
        .sidebar {
            display: none !important;
        }
    }
}

.sidebar {
    background-color: $interface-medium;
    width: 252px;
    height: 100%;
    position: fixed;

    .sidebar-listing {
        display: flex;
        overflow: hidden;
        .country-selection {
            background-color: $interface-dark;
            height: 100vh;
            padding: 10px 10px;
            ul {
                list-style: none;
                padding: 0px;
                li {
                    transition: 0.3s ease-in-out;
                    font-size: 12px;
                    a {
                        margin-bottom: 10px;
                        float: left;
                        background-color: rgba(255, 255, 255, 0.4);
                        border-radius: 8px;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        text-decoration: none;
                        &.router-link-exact-active {
                            background-color: rgba(255, 255, 255, 0.8);
                            color: #662d91;
                            position: relative;
                            &:after {
                                content: '';
                                background-color: #b35fa5;
                                height: 100%;
                                width: 3px;
                                left: -10px;
                                position: absolute;
                                border-radius: 0px 3px 3px 0px;
                            }
                        }
                    }
                    &:hover,
                    &:focus {
                        a {
                            background-color: #e8e5eb;
                            color: #662d91;
                            position: relative;
                            &:after {
                                content: '';
                                background-color: #b35fa5;
                                height: 100%;
                                width: 3px;
                                left: -10px;
                                position: absolute;
                                border-radius: 0px 3px 3px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-nav {
        overflow: hidden;
        .navigation {
            padding: 0px 8px;
            ul {
                padding: 0;
                margin-right: 0;
                li {
                    margin-right: 0px;
                    width: 100%;
                    margin-bottom: 14px;
                    transition: 0.3s ease-in-out;
                    a {
                        color: #e4e4e6;
                        padding: 8px 8px;
                        vertical-align: middle;
                        span {
                            font-family: $font_light;
                            // font-size: 11px;
                            font-size: 14px;
                            top: 3px;
                        }
                        &.router-link-active {
                            background-color: $interface-dark;
                            color: #fff;
                            border-radius: 8px;
                            position: relative;
                            span {
                                color: #fff;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                    &:hover,
                    &:focus {
                        a {
                            background-color: #22003c;
                            color: #fff;
                            border-radius: 8px;
                            position: relative;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .logo-container {
            padding: 14px 0px 14px 17px;
            box-shadow: 0px 0.5px 0px #22003c;
            margin-bottom: 10px;
        }
    }
}

.content-area {
    width: calc(100% - 252px);
    margin-left: auto;
}
