body {
    &.auth-body {
        .sidebar {
            display: none !important;
        }
    }
}

.sidebar {
    background-color: $interface-medium;
    width: $sidebar-width;
    height: 100%;
    position: fixed;

    @include tabletL {
        transition: 0.3s ease-in-out;
        transform: translate(-100%);
        z-index: 99;
        padding-top: 53px;
        &.show-sidebar {
            transform: translate(0%);
        }
    }
    @include mobile {
        &.show-sidebar {
            width: 100%;
        }
    }

    .sidebar-listing {
        display: flex;
        overflow: hidden;
        .country-selection {
            background-color: $interface-dark;
            height: 100vh;
            padding: 10px 8px;
            ul {
                list-style: none;
                padding: 0px;
                li {
                    transition: 0.3s ease-in-out;
                    font-size: 0.75rem;
                    a {
                        margin-bottom: 10px;
                        float: left;
                        background-color: rgba(255, 255, 255, 0.4);
                        border-radius: $upload-border-radius;
                        width: $input-height;
                        height: $input-height;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        text-decoration: none;
                        &.router-link-exact-active {
                            background-color: rgba(255, 255, 255, 0.9);
                            color: $primary;
                            position: relative;
                            &:after {
                                content: '';
                                background-color: $secondary;
                                height: 100%;
                                width: 5px;
                                left: -10px;
                                position: absolute;
                                border-radius: 0px 3px 3px 0px;
                            }
                        }
                    }
                    &:hover,
                    &:focus {
                        a {
                            background-color: rgba(255, 255, 255, 0.9);
                            color: $primary;
                            position: relative;
                            /*                             &:after {
                                content: '';
                                background-color: $secondary;
                                height: 100%;
                                width: 3px;
                                left: -10px;
                                position: absolute;
                                border-radius: 0px 3px 3px 0px;
                            } */
                        }
                    }
                }
            }
        }
        @include mobile {
            height: 100%;
            .country-selection {
                // display: none;
            }
        }
    }
    .sidebar-nav {
        overflow: hidden;
        .navigation {
            padding: 0px 8px;
            ul {
                padding: 0;
                margin-right: 0;
                li {
                    margin-right: 0px;
                    width: 100%;
                    margin-bottom: 14px;
                    transition: 0.3s ease-in-out;
                    a {
                        color: $sidebar-menu-color;
                        padding: 8px 8px;
                        vertical-align: middle;
                        span {
                            font-family: $font_light;
                            font-size: 0.875rem;
                            top: 3px;
                        }
                        &.router-link-active {
                            background-color: $interface-dark;
                            color: $white;
                            border-radius: $upload-border-radius;
                            position: relative;
                            span {
                                color: $white;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                    &:hover,
                    &:focus {
                        a {
                            background-color: $interface-dark;
                            color: $white;
                            border-radius: $upload-border-radius;
                            position: relative;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .logo-container {
            padding: 14px 0px 14px 17px;
            box-shadow: 0px 0.5px 0px $interface-dark;
            margin-bottom: 10px;
        }
        @include mobile {
            .logo-container {
                display: none;
            }
            .navigation {
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 15px;
                padding-right: 15px;
                li {
                    text-align: center;
                    a {
                        // background-color: transparent !important;
                        &.router-link-exact-active {
                            &.router-link-active {
                                // border-bottom: 2px solid $interface-dark;
                                // border-radius: 0;
                            }
                        }
                        i {
                            display: block;
                            margin: auto;
                            padding-bottom: 15px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.content-area {
    width: calc(100% - 252px);
    margin-left: auto;

    @include tabletL {
        width: 100%;
    }
}

.responsive-sidebar-menu {
    display: none;
    @include tabletL {
        position: fixed;
        top: 11px;
        left: 16px;
        padding: 4px 0 0 0;
        background-color: $primary;
        z-index: 999;
        height: 30px;
        width: 35px;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }
    @include mobile {
        height: 42px;
    }
    span {
        height: 3px;
        width: 27px;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        background-color: #fff;
    }
}

.responsive-header-menu {
    display: none;
    @include mobile {
        position: fixed;
        top: 0px;
        right: 0;
        padding: 7px 10px;
        background-color: $secondary;
        z-index: 999;
        height: 42px;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }
    span {
        height: 2px;
        width: 24px;
        display: block;
        margin-bottom: 5px;
        background-color: #fff;
    }
}
