.auth-wrapper {
	height: auto !important;
	.inner {
		width: 100%;
	}
	.logo {
		width: 160px;
		height: auto;
		margin: 3% auto 30px;
		@include mobile {
			width: 110px;
			height: auto;
			margin: 15px auto 20px;
		}
	}
	.auth-heading {
		font-size: 1.375rem;
		font-family: $font_medium;
		text-align: center;
		span {
			margin-top: 10px;
			display: block;
			font-size: 0.875rem;
			font-family: $font_light;
			color: $grey-medium;
			line-height: 20px;
			i {
				color: $secondary;
				font-style: normal;
			}
		}
	}
	.auth-body {
		margin-top: 24px;
	}
	.email-sent-icon {
		max-width: 76px;
		margin: 12px auto 35px;
		display: block;
	}

	.forgot-link {
		float: right;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		top: 5px;
	}
	.back-to-login-btn {
		margin-right: auto;
		margin-left: auto;
	}
	.contact-link {
		margin-top: 25px;
		display: block;
		position: relative;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&:after {
			content: '';
			width: 32px;
			margin: 15px auto 15px;
			height: 4px;
			background: #fff;
			border-radius: 2px;
			display: block;
			@include mobileXs {
				display: none;
			}
		}
		&.register-now {
			margin-top: 0px;
			&:after {
				display: none;
			}
		}
		@include mobile {
			margin-bottom: 10px;
		}
	}
	@include mobileSHeight {
		flex-direction: column;
	}
}
