@import 'common';
@import 'login';
.logo {
    &.main-logo {
        .inverse {
            display: none;
        }
    }
    &:not(.main-logo) {
        .main {
            display: none;
        }
    }
    &.inverse-logo {
        .main {
            display: none;
        }
    }
}
.auth-card-body {
    padding: 37px 42px 40px;
}

.right-panel {
    padding: 29px 34px;
}

span {
    &.danger {
        color: $danger;
    }
}

a {
    &.primary {
        color: $primary !important;
    }
    &.secondary {
        color: $secondary !important;
    }
}

.flex-items {
    display: flex;
    li {
        width: 100%;
        &.search-filter {
            width: 70%;
        }
        &.filter-selection {
            width: 70%;
        }
        &.alert-switch {
            width: 150%;
            .btn-group-toggle {
                width: 100%;
            }
        }
        button {
            width: 100%;
        }
    }
}

.info {
    color: $nav-color;
    position: relative;
    padding-left: 30px;
    i {
        font-size: 1.375rem;
        position: absolute;
        left: 0;
        bottom: auto;
        top: -4px;
        margin: auto;
    }
}

.step-form {
    h3 {
        font-size: 1.125rem;
        margin-bottom: 20px;
    }
    .fields-area {
        border-bottom: 1px solid $grey-dark;
        margin-bottom: 44px;
        padding-bottom: 20px;
    }
    .rangeto {
        span {
            position: absolute;
            bottom: 36px;
            margin: auto;
            left: 49%;
            color: $grey-medium;
        }
    }
    &.registered-customer-id {
        .registration-completed {
            margin-bottom: 32px;
            padding-bottom: 31px;
            h3 {
                margin-bottom: 16px;
            }
        }
    }
}

.brand-logo-area {
    max-width: 570px;
}

.brand-color-area {
    max-width: 870px;
}

.config-card-switch {
    .fields-area {
        border-bottom: 1px solid $grey-dark;
        margin-bottom: 34px;
        padding-bottom: 9px;
    }
}

.registration-completed {
    p {
        font-size: 0.875rem;
    }
}

.generated-customer-id {
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    margin: auto;
    padding: 8px 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 200px;
    background-color: $table-footer-bg;
    h4 {
        font-family: $font_medium;
    }
    p {
        margin-bottom: 0px;
        font-size: 0.75rem;
        color: $nav-color;
    }
}

.work-impact {
    position: relative;
    text-decoration: none;
    .custom-popover {
        position: absolute;
        background-color: #fff;
        width: 310px;
        top: 27px;
        left: -10px;
        z-index: 9;
        padding: 16px 20px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        opacity: 0;
        box-shadow: 0px 2px 14px rgba(50, 50, 93, 0.4);
        display: none;
        border-radius: 8px;
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li {
                // margin-bottom: 3px;
                margin-bottom: 8px;
                label {
                    color: $body-color !important;
                }
                &:last-child {
                    label {
                        margin-bottom: 0px;
                    }
                }
                label {
                    width: 222px;
                    color: $dark;
                }
            }
        }
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid #fff;
            position: absolute;
            top: -10px;
            margin: auto;
            right: 0;
            left: 0;
            box-shadow: 0px 3px 74px rgba(50, 50, 93, 0.5);
        }
        &.small {
            width: 150px;
            ul {
                li {
                    label {
                        width: 90px;
                    }
                    .bold {
                        font-weight: bold;
                        color: $body-color;
                    }
                }
            }
        }
    }
    &:hover,
    &:focus {
        .custom-popover {
            opacity: 1;
            display: block;
        }
    }
}

.high {
    color: $high;
}
.medium {
    color: $medium;
}
.low {
    color: $low;
}
.card {
    &.custom-card {
        border: 1px solid $border-color;
        padding: $card-padding;
        margin-bottom: 0.625rem;
        .logo {
            width: 42px;
            height: 42px;
            margin: auto;
            background-size: 24px;
            border: 1px solid $border-color;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 16px;
            border-radius: 5px;
        }
        h4 {
            font-size: 1.5rem;
            text-align: center;
            font-family: $font_medium;
            margin-bottom: 0.625rem;
        }
        p {
            margin-bottom: 15px;
            color: $nav-color;
            text-align: center;
        }
        .btn {
            i {
                font-size: 1.3rem;
            }
            &.btn-primary {
                margin: 8px 0px;
            }
            &.btn-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding-left: 0px;
                padding-right: 0px;
                justify-content: center;
                i {
                    margin-right: 10px;
                }
            }
        }
        &.small-card {
            .logo {
                display: inline-block !important;
            }
            h4 {
                display: inline-block !important;
            }
        }
    }
}

.small-card {
    margin-bottom: 20px;
    .card {
        &.custom-card {
            cursor: pointer;
            border-color: transparent;
            background-color: $grey-dark;
            .logo {
                display: inline-block !important;
                margin-left: 0;
                position: absolute;
                top: 20px;
                width: 25px;
                height: 25px;
                background-size: 100% 100%;
                border: 0px solid;
            }
            h4 {
                display: inline-block !important;
                text-align: left;
                padding-left: 35px;
                font-size: 1rem;
                margin-bottom: 0;
            }
            p {
                &.caption-description {
                    text-align: left;
                    color: $body-color;
                    padding-top: 11px;
                    margin-bottom: 0;
                    padding-left: 0px;
                }
            }
            &.active {
                background-color: #fff;
            }
        }
    }
}

// Filter Section

.filter-section {
    margin-bottom: 14px;
    &.full-area {
        .row {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .filter-title-section {
        h2 {
            margin-top: 7px;
        }
    }
    h2 {
        font-family: $font_medium;
        color: $grey-darkest;
        font-size: 1.625rem;
        margin-top: 0;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: $secondary;

        span {
            margin-top: 3px;
            display: inline-block;
        }
        i {
            margin-right: 8px;
            color: $secondary;
            font-size: 10px;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline-block;
            margin-right: 20px;

            .btn-link {
                padding: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .btn-secondary,
    .btn-primary {
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    &.sub-filter {
        h2 {
            margin: 44px 0 34px 0;
        }
    }
}

.indication-icons {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: auto;
    display: table;

    i {
        width: 20px;
        height: 20px;
        font-size: 8px;
        border-radius: 100%;
        display: table-cell;
        vertical-align: middle;
        &:before {
            width: 100%;
            height: 100%;
        }
    }
    &.pending {
        i {
            background-color: #e4e4e6;
            color: #fff;
        }
    }
    &.inreview {
        i {
            background-color: #1b1b1e;
            color: #fff;
        }
    }
    &.reject {
        i {
            background-color: #c91f37;
            color: #fff;
        }
    }
}

.status-review {
    position: relative;
    a {
        padding-left: 30px;
        text-decoration: none;
        i {
            position: absolute;
            left: 0px;
            font-size: 25px;
            top: -4px;
            margin: auto;
            bottom: 0;
        }
    }
}

.work-impact {
    i {
        padding-left: 10px;
        position: relative;
        top: 2px;
    }
}

.profile-absolute {
    width: 50px;
    padding: 0;
}

.status-absolute-pos {
    width: 225px;
}

.form-options {
    padding-top: 20px;
}

.profile-area {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    top: 0px;
    margin: auto;
    .profile-pic {
        width: 34px;
        height: 34px;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0px;
    }
}

.form-radio {
    .custom-radio {
        margin-top: 11px;
    }

    &.reg-channel {
        .custom-control-inline {
            margin-right: 12px;

            span {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

.seprator-line {
    hr {
        margin: 7px 0 31px 0;
        border-color: $grey-dark;
    }
}

.system-user-filter {
    ul {
        display: flex;
        li {
            width: 100%;
        }
    }
    .search-input {
    }
    .btn {
        width: 100%;
    }
}

.customer-info {
    .customer-profile {
        width: 100%;
        height: 150px;
        border-radius: 8px;
        background-size: cover;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        &:last-of-type {
            .seprator-section {
                padding-bottom: 0px;
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        li {
            .seprator-section {
                padding-bottom: 20px;
                border-bottom: 1px $grey-dark solid;
                margin-bottom: 32px;
                h3 {
                    margin-bottom: 24px;
                    font-size: 1.125rem;
                    font-family: $font_medium;
                }
                label {
                    font-size: 0.875rem !important;
                }

                ul {
                    margin-bottom: 0;
                    li {
                        margin-bottom: 12px;

                        label {
                            text-transform: capitalize;
                            margin-bottom: 7px;
                            font-size: 0.875rem;
                            font-family: $font_light;
                            color: $nav-color;

                            a {
                                color: $nav-color;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    img {
        border-radius: 8px;
    }

    .pending {
        margin: 24px auto;
        position: static;
        width: 110px;
    }
}
.system-logs-table {
    margin-top: 40px;
}

.screen-section {
    .pending {
        display: none;
    }

    .seprator-section {
    }
}

.table {
    thead {
        th {
            &.with-icon {
                &:before {
                    margin-right: 10px;
                    font-size: 0.9rem;
                    vertical-align: baseline;
                    position: relative;
                    top: 2px;
                    color: $grey-lite !important;
                }
            }
            &.person-icon {
                &:before {
                    position: relative;
                    @extend .icon-person;
                    font-family: 'icomoon';
                }
            }
            &.document-icon {
                &:before {
                    position: relative;
                    @extend .icon-documentation;
                    font-family: 'icomoon';
                }
            }
            &.graph-icon {
                &:before {
                    position: relative;
                    @extend .icon-graph;
                    font-family: 'icomoon';
                }
            }

            &.sanction-icon {
                text-align: center;

                &:before {
                    content: '\e954';
                    font-size: 15px;
                    font-family: 'icomoon';
                    padding-right: 10px;
                }
            }

            &.rep-icon {
                text-align: center;

                &:before {
                    content: '\e92a';
                    font-size: 15px;
                    font-family: 'icomoon';
                    padding-right: 10px;
                }
            }

            &.enforcement-icon {
                text-align: center;

                &:before {
                    content: '\e94a';
                    font-size: 14px;
                    font-family: 'icomoon';
                    padding-right: 10px;
                }
            }

            &.blacklist-icon {
                text-align: center;

                &:before {
                    content: '\e93e';
                    font-size: 14px;
                    font-family: 'icomoon';
                    padding-right: 10px;
                }
            }
        }
    }
}

.iframe-section {
    padding: 32px 20px 32px;
    .scrollable {
        max-height: 470px;
    }

    iframe {
        width: 100%;
        min-height: 400px;
        border: none;
        overflow: hidden;
    }
}

.document-section {
    ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        li {
            .document-detail {
                width: 100%;
                border: 1px solid $border-color;
                border-radius: $upload-border-radius;
                overflow: hidden;

                .photo-section {
                    padding: 12px 17px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 205px;
                    text-align: center;
                    img {
                    }
                }

                .upload-detail {
                    background-color: $upload-bg;
                    padding: 16px 12px;

                    .upload-thumbnail {
                        width: 22px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    .upload-des {
                        width: calc(100% - 22px);
                        display: inline-block;
                        padding: 0 13px;

                        label {
                            font-size: 0.875rem;
                            color: $body-color;
                            text-transform: capitalize;
                            margin-bottom: 2px;
                        }

                        p {
                            margin-bottom: 0;
                            color: $grey-lite;
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}

.w-100px {
    width: 100px !important;
}

.w-150px {
    width: 150px;
}

.w-320px {
    width: 320px;
}

.w-230px {
    width: 230px;
}

.config-list {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        li {
            // margin-right: 3px;
            margin-right: 0px;
            a {
                // padding: 14px 16px 14px 16px;
                padding: 17px 16px 14px 16px;
                color: #7f8fa4;
                background: #ebebf2;
                margin-right: 10px;
                font-family: $font_light;
                border-radius: 8px 8px 0px 0px;
                text-decoration: none;
                border-color: transparent !important;
                display: block;
                &.router-link-exact-active {
                    background-color: #fff;
                    color: $body-color;
                    font-family: $font_medium;
                }
                @include windowS {
                    margin-right: 5px;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
            &.open-dropdown {
                position: relative;
                > a {
                    padding: 14px 26px 14px 26px;
                    margin-right: 0;
                }
                .dropdown-open {
                    position: absolute;
                    z-index: 9;
                    width: 232px;
                    right: 0;
                    // border: 0.5px solid $border-color;
                    box-shadow: 2px 3px 13px rgba(50, 50, 93, 0.2);
                    li {
                        width: 100%;
                        margin-right: 0px;
                        border-bottom: 1px solid $body-bg;
                        a {
                            // box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
                            background-color: #fff;
                            padding: 11px 24px;
                            margin-right: 0px;
                            border-radius: 0px;
                            font-size: 0.875rem;
                            &.router-link-exact-active.router-link-active {
                                color: $secondary;
                            }
                        }
                        &:last-child {
                            border-bottom: 0px solid $border-color;
                            text-transform: initial;
                            margin-bottom: 0px;
                        }
                    }
                }
                &.router-link-exact-active {
                    > a {
                        background-color: #fff;
                        color: $secondary;
                    }
                }
            }
        }
    }
}
.video-record {
    position: relative;
    max-width: 500px;
    margin-bottom: 80px;
    .video-play {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        text-align: center;
        max-width: 100px;
        i {
            &.icon-record {
                font-size: 70px;
            }
        }
        p {
            color: $red;
            text-transform: uppercase;
            font-family: $font_medium;
            margin-top: 5px;
        }
        &:hover,
        &:focus {
            p {
                color: $body-color;
            }
        }
    }
}

.icon-record {
    i {
        font-style: normal;
    }
}

.table-scroll {
    overflow-y: auto;
    max-height: 380px;
    margin-top: 30px;
    padding-right: 5px;
    .inner {
        border: solid 1px $border-color;
    }
    .table {
        min-width: 0;
    }
}

.brand-color-area {
    label {
        font-size: $label-font-size !important;
        font-family: $font-medium;
        color: $grey-lite;
        text-transform: uppercase;
    }
}

.config-card-switch {
    .card {
        &.custom-card {
            text-align: left;
            h5 {
                font-size: 0.9375rem;
                margin-bottom: 20px;
            }
            p {
                text-align: left;
                color: $body-color;
                margin-bottom: 22px;
                &.review-alert {
                    color: #ed1c24;
                }
            }
            button {
                margin-right: 20px !important;
                text-transform: initial;
            }
        }
        .brand-logo {
            height: 43px;
            border-radius: 7px;
            margin-top: 21px;
            display: flex;
            padding: 7px 14px;
            img {
                height: auto;
                margin: auto;
            }
            .logo-area-preview {
                width: 100%;
                background-size: 100%;
                height: auto;
                background-repeat: no-repeat;
                background-position: 50%;
            }
            &.light {
                background-color: #f2f2f6;
            }
            &.dark {
                background-color: #1b1b1e;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.color-area {
    position: relative;
    input[type='color'] {
        position: absolute;
        top: 0;
        opacity: 0;
        width: 20%;
        right: 0;
        z-index: 9;
        cursor: pointer;
    }
    .input-color {
        position: absolute;
        right: 13px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: 72px;
        .color-pallet {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
        i {
            position: absolute;
            right: 3px;
            font-size: 1.3rem;
        }
    }
    input[type='text'] {
        color: $grey-lite;
    }
}

.doc-verify-section {
    .verify-status {
        .col-md-6 {
            ul {
                &:last-of-type {
                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.work-impact {
    color: $nav-color !important;
}

.config-card-block {
    background-color: #fff;
    padding: 32px;
}
.user-roles-action {
    width: 200px;
}

.status-type-icon {
    i {
        font-size: 1.3rem;
        &.sanctions {
            color: $body-color;
        }
        &.pending {
            color: $grey-xlite;
        }
        &.danger {
            color: $danger;
        }
        &.circle-area {
            border-radius: 10px;
            color: #fff;
            font-size: 0.9rem;
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            margin: auto;
            &.pending {
                background-color: $grey-xlite;
            }
            &.danger.circle-area {
                background-color: $danger;
            }
            &.sanctions.circle-area {
                background-color: $body-color;
            }
        }
    }
}
.risk-factor-table {
    .table {
        tr {
            &:last-child {
                background-color: $table-footer-bg;
                td {
                    font-family: $font_bold;

                    .pending,
                    .approved,
                    .rejected {
                        font-family: $font_regular;
                    }
                }
            }
        }
    }

    margin-bottom: 32px;
}

.tags-section {
    background-color: $upload-bg;
    border: 1px solid $border-color;
    border-radius: 8px;
    height: 44px;
    overflow: hidden;

    .tag-status {
        float: right;
        width: 44px;
        height: 44px;
        background-color: $white;
        border-left: 1px $border-color solid;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: $white;
                font-size: 12px;
            }

            &.danger {
                background-color: #c91f37;
            }

            &.success {
                background-color: #00c535;
            }

            &.warning {
                background-color: #f4c200;
            }
        }
    }

    .tags {
        width: calc(100% - 44px);
        float: left;
        height: 44px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 15px;

        i {
            font-size: 16px;
            margin-right: 10px;
            color: $primary;
        }

        label {
            text-transform: capitalize;
            color: $body-color;
            font-family: $font_medium;
            font-size: 0.875rem !important;
            margin-bottom: 0;
        }
    }
}

.kyc-status-section {
    h3 {
        margin-bottom: 20px;
        font-size: 1.125rem;
        font-family: $font_medium;
    }

    hr {
        margin: 30px 0 25px;
        border-color: $border-color;
    }
}

.customer-link {
    a {
        color: $body-color;
        text-decoration: none;

        &:hover {
            color: $grey-lite;
        }
    }
}

.modal {
    .modal-body {
        .selectize-control.multi .selectize-input > div {
            text-transform: uppercase;
        }

        .row-min-space {
            .row {
                margin-left: -7px;
                margin-right: -7px;

                .col-md-6,
                .col-md-4 {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }
    }
}

.export-radio-section {
    width: 100%;
    float: left;

    .icon-section {
        width: 32px;
        float: left;

        svg {
            width: 23px;
            margin-bottom: 15px;
        }

        .pdf-icons {
            svg {
                margin-bottom: 0;
            }
        }
    }

    .export-form-section {
        width: calc(100% - 32px);
        float: left;
        padding-left: 5px;

        .export-files {
            margin-bottom: 15px;
            .custom-control-label {
                margin-bottom: 23px;
                margin-top: 7px;
            }
        }
    }
}

.colorLogo {
    img {
        &.inverse {
            display: none;
        }
        &.main {
            display: block !important;
        }
    }
}

.font-semibold {
    font-family: $font_medium !important;
}

.modal-body {
    .tags-section {
        .tags {
            label {
                line-height: 0;
            }
        }
    }

    .custom-file-label {
        text-transform: inherit;
    }

    .scrollable {
        overflow-x: hidden;
        max-height: 420px;
        margin-bottom: 24px;
    }

    #style-2::-webkit-scrollbar {
        width: 5px;
        background-color: #ced3d8;
    }

    .screening-hit-section {
        label {
            text-transform: none;
            font-family: $font_regular;
            font-size: 0.875rem;
            margin-bottom: 12px;
        }

        ul {
            padding-left: 17px;
            li {
                margin-bottom: 5px;
            }
        }

        h4 {
            font-size: 1.125rem;
            margin-top: 25px;
            margin-bottom: 20px;
            font-family: $font_medium;
        }
    }

    h5 {
        font-size: 0.875rem;
        font-family: $font_medium;
        color: $body-color;
        margin-bottom: 10px;
    }

    .scale-type {
        h4 {
            font-family: $font_medium;
            font-size: 1.125rem;
            margin-bottom: 18px;
        }
    }

    .system-user-warning {
        width: 22px;
        float: left;

        i {
            font-size: 22px;
            color: $nav-color;
        }
    }

    .system-user-details {
        width: calc(100% - 22px);
        float: left;
        padding-left: 12px;

        p {
            color: $grey-lite;
        }
    }
}

.row-min-space {
    .row {
        margin-right: -4px;
        margin-left: -4px;

        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.kyc-status-radio {
    .custom-control-inline {
        min-width: 140px;
        margin-bottom: 15px;

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }
    }

    &.overwrite-radio {
        .custom-control-inline {
            margin-bottom: 0;
        }
    }
}

.screen-customer {
    .table {
        a {
            text-decoration: none;
        }
    }
}

.document-preview-section {
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 24px;

    .preview-video {
        width: 100%;
        min-height: 290px;
        background-size: cover;
    }
    img {
        position: absolute;
        pointer-events: none;
    }
}
.content-full-width {
    .content-area {
        width: 100%;
        header {
            width: 100%;
            .logo-container {
                display: inline-block;
            }
            .navigation {
                max-width: $block-width;
                margin: auto;
                width: 100%;
                display: block;
                ul {
                    display: inline-block;
                    float: right;
                }
            }
        }
        .wrap-content {
            max-width: $block-width;
            margin: auto;
        }
    }
    .sidebar {
        display: none !important;
    }
}

.archive-popup {
    .close {
        top: -2px !important;
    }
}

.months-length {
    position: relative;

    &:after {
        content: 'to';
        position: absolute;
        top: 14px;
        left: -8px;
        color: $nav-color;
        font-size: 12px;
    }
}

.upload-files {
    position: relative;
    margin-bottom: 16px;

    input {
        height: 92px;
        width: 100%;
        box-shadow: none;
        cursor: pointer;
    }

    label {
        display: none;
    }

    .custom-file {
        height: 92px;
        cursor: pointer;
    }

    .file-detail {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $upload-bg;
        border: 1px solid $border-color;
        border-radius: $upload-border-radius;
        overflow: hidden;
        pointer-events: none;

        .file-title {
            h5 {
                font-size: 0.875rem;
                font-family: $font_medium;
                margin-bottom: 7px;
            }

            p {
                color: $nav-color;
                font-size: 0.875rem;
                margin-bottom: 0 !important;
            }
        }
    }
}

.file-activity {
    width: 100%;
    float: left;
    margin-bottom: 24px;

    .file-thumbnail {
        width: 22px;
        float: left;
    }

    .file-progress {
        width: calc(100% - 22px);
        float: left;
        padding-left: 10px;
        position: relative;

        h6 {
            color: $nav-color;
            font-family: $font_regular;
            font-size: 0.75rem;
            margin-bottom: 7px;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            font-family: $font_medium;
            font-size: 0.75rem;
        }
    }
}

.progress {
    height: 12px;
    border-radius: $progress-radius;
    background-color: $white;
    border: 1px $border-color solid;
    padding: 2px;
    margin-bottom: 0 !important;

    .progress-bar {
        border-radius: $border-radius;
        background-color: $secondary;
    }
}

.permissions-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 6px;
}

.clipboard {
    background-color: $table-footer-bg;
    height: $input-height;
    border: 1px $border-color solid;
    border-radius: $border-radius;
    position: relative;
    padding: 12px 10px 5px;
    color: $body-color;

    i {
        position: absolute;
        right: 13px;
        top: 8px;
        color: $secondary;
        font-size: 22px;
        cursor: pointer;
    }
}

.export-process {
    text-align: center;
    margin-bottom: 24px;

    svg {
        margin-top: 8px;
        width: 50px;
    }

    p {
        margin-bottom: 0;
    }

    label {
        text-transform: capitalize;
        color: $body-color;
        font-family: $font_bold;
        margin: 19px 0 3px;
        font-size: 0.875rem !important;
    }

    .loading {
        width: 75px;
        margin: 0 auto 3px;
    }
}

.export-timeline {
    position: relative;
    width: 100%;

    .btn-secondary {
        position: absolute;
        right: 0;
        top: 38px;
        z-index: 9;
    }
}

.permissions-section {
    .custom-checkbox {
        width: 33.3%;
        float: left;
    }

    .custom-radio {
        width: 31%;
        float: left;
    }

    .col-form-label {
        .custom-checkbox
            .custom-control-input:checked
            ~ .custom-control-label::after,
        .custom-checkbox
            .custom-control-input:indeterminate
            ~ .custom-control-label::after {
            top: 7px;
        }

        label {
            font-family: $font_medium;
            margin-bottom: 15px;
            span {
                margin-left: 5px;
                margin-top: 3px;
                display: block;
            }
        }
    }
}

.alert-filter {
    .btn-group-toggle {
        width: 100%;
    }
    .btn-secondary,
    .btn-primary {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.profile-filter {
    .btn-link {
        padding: 7px 6px;
    }
}
