.social-links {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.multiselect__single {
    padding-top: 10px;
}

.product-item .pi-pic,
.product-item .pi-pic img {
    height: 350px;
}

.product-item .tag-new,
.product-item .tag-sale {
    position: absolute;
    right: 16px !important;
    top: 7px !important;
    font-size: 17px !important;
    font-weight: 700;
    color: #fff;
    background: #50e550;
    line-height: 1;
    text-transform: uppercase;
    padding: 2px 9px 1px !important;
    border-radius: 15px;
    width: 42px;
}

#login-popup .modal-body {
    padding: 80px;
}

.list-group-item.flex-column.align-items-start.active.list-group-item-action {
    color: black;
}

.pagination.b-pagination.pagination-md {
    display: flex;
    justify-content: center;
}
.product-big-img{
    width: -webkit-fill-available !important;
}

.product-section{
    background: white;
}


.datepicker-day.between, .datepicker-day .datepicker-day-effect{
    background-color: #b30f19 !important;
}

.date-time-picker .header-picker{
    background-color: #b30f19 !important;
}

.main-body-section{
    background: white;
}

.category-section .container{
    background: #f8f7f7;
    border-radius: 20px;
    padding: 20px;
}

.product-details .fw-size-choose{
    pointer-events: none;
}

.product-details .fw-size-choose .order-status{
    color: white;
    width: 50% !important;
    height: 33px;
    font-size: 12px;
    border: 2px solid #414141;
}

.product-section .product-details.product-details-right{
    margin-top: 20px;
}

.cart-table .cart-table-warp tr th{

}

.order-status.rejected{
    background: #ff4949;
}

.order-status.accepted{
    background: #13ce66;
}

.order-status.pending{
    background: #FFBA00;
}

.footer-section p, .footer-section h5, .footer-section h4, .footer-section h3, .footer-section h2, .footer-section h1, .footer-section a{
    margin-top: 10px !important; 
    color:white !important;
}

.footer-section a:hover{
    color: #b30f19 !important;
}

.product-details .p-price{
    font-size:20px !important;
    margin-bottom:10px !important;
}

.product-details .p-price.p-stock{
    font-size:30px !important;
}


p{

font-family: "ProximanovaBold";

}

.main-body-section.category-section.spad{
    padding-top:50px;
    padding-bottom: 50px;
}

.main-title{
    color: #7f8fa4;
}