.dashboard-card {
	box-shadow: 0px 0.5px 0px rgba(50, 50, 93, 0.2);
	margin-bottom: 30px;
	.heading {
		font-family: $font-medium;
		font-size: 1.125rem;
		margin-bottom: 20px;

		@include tablet {
			font-size: 18px;
		}

		@include mobile {
			font-size: 16px;
		}
	}
	&.dashbaord-stastics {
		padding: 20px 10px;
		h2 {
			font-size: $font-size-base;
			color: $grey-lite;
			text-transform: uppercase;
			font-family: $font-medium;

			@include tablet {
				font-size: 12px;
			}

			@include mobile {
				font-size: 11px;
			}
		}
		p {
			font-size: 1.375rem;
			color: $grey-darkest;
			margin-bottom: 0;

			@include tablet {
				font-size: 12px;
			}
		}
		i {
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-size: 1.25rem;
			color: $grey-xlite;
		}
	}
	.dashboard-charts {
		height: 430px;
		padding-bottom: 30px;
		position: relative;

		.amcharts-div {
			height: 100%;

			&.customer-by-gender {
				height: 85%;
			}
		}

		&.activy-dashboard-chart {
			.chart-highest-record {
				top: 40%;
			}
		}
		/* 		&.single-line-dashboard-chart {
			.chart-highest-record {
				top: 44%;
			}
		} */

		.amcharts-div.pie-charts {
			height: 300px;
		}
		@include mobileS {
			height: 450px;
		}
	}
}

.chart-highest-record {
	position: absolute;
	top: 40%;
	left: 0;
	text-align: center;
	width: 100%;
	h2 {
		color: $grey-lite;
		font-size: $font-size-sm;
		text-transform: uppercase;
		font-family: $font-medium;
	}
	p {
		font-size: $font-size-base + 0.22;
	}
	@include mobileS {
		top: 38%;
	}
}

.no-label-chart {
	.chart-highest-record {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
	}
}

.amcharts-chart-div > a {
	display: none !important;
}

.logs-total-actions {
	height: 270px;
}

/* .screening-by-type {
	height: 300px !important;
}
 */
/*
	Customize legends
*/

.custom-legend-wrapper {
	margin-top: 30px;
	> div {
		float: left;
		width: 50%;
		padding: 0 10px;
		margin-bottom: 15px;
	}
	&.cols-1 {
		> div {
			width: auto;
			display: inline-block;
			float: none;
		}
	}
	&.cols-full {
		> div {
			width: 100%;
			display: block;
			float: none;
		}
	}
	&.cols-3 {
		> div {
			width: 33%;
			padding: 0 5px;
			.legend-value {
				padding-right: 5px;
				@include windowS {
					font-size: 0.6rem;
					margin-top: 3px;
				}
			}
			@include mobileS {
				width: 50%;
			}
		}
	}
	&.table-style {
		margin: 0;
		position: relative;
		> div {
			border-bottom: solid 1px $border-color;
			padding-top: 10.5px;
			padding-bottom: 10.5px;
			padding-left: 20px;
			margin: 0;
			&:last-child {
				border-bottom: none;
			}
			.legend-value {
				padding-right: 15px;
				position: relative;
				width: 50px;
				text-align: center;
				top: 4px;
				@include windowS {
					font-size: 0.75rem;
					margin-top: 3px;
				}
			}
			.legend-country-users {
				position: relative;
				top: 4px;
			}
		}
	}
	@include mobile {
		&.table-style {
			.legend-title {
				font-size: 0.75rem;
				width: 69px;
			}
			.legend-country-users {
				top: 2px !important;
				font-size: 0.75rem;
			}
			.legend-value {
				margin-top: 0px !important;
				top: 3px !important;
			}
		}
	}
}

.legend-marker {
	width: 22px;
	height: 22px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	@include mobileS {
		width: 15px;
		height: 15px;
	}
}

.legend-title {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	@include windowS {
		font-size: 0.75rem;
	}
	@include mobileS {
		font-size: 0.6rem;
		margin-right: 4px;
		width: 59px;
	}
}

.legend-value {
	display: inline-block;
	font-family: $font-bold;
	float: right;
	position: relative;
	top: 2px;
	@include windowS {
		font-size: 0.75rem;
		margin-top: 3px;
	}
	@include mobileS {
		font-size: 0.55rem;
	}
}

.config-card-block {
	.table {
		@include mobileS {
			min-width: 660px;
			tbody {
				td {
					&.two-list {
						width: 180px;
					}
				}
			}
		}
	}
}

.legend-country-users {
	float: right;
	margin-right: 30px;
}

#onBoardIssueLegend {
	> div {
		width: auto;
		float: none;
		display: inline-block;
	}
}
